doctype html
html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      //- meta(http-equiv='Content-Security-Policy', content="default-src * blob: ; worker-src blob: * ;script-src * blob: ;script-src-elem * https: https://api.mapbox.com ; child-src blob: ;img-src data: 'self' blob:; connect-src * https://*.tiles.mapbox.com https://api.mapbox.com https://events.mapbox.com ")

      link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700', rel='stylesheet')
      link(rel='stylesheet', href='/css/style.css')


      title Natours | #{title}
  body
    //- HEADER
    include _header

    //- CONTENT
    block content

    //- FOOTER
    include _footer

    script(src='/js/mapbox.js' type='module')
